:root {
  --primary-color: #3A8456;
  --alternate-color: #1A87AC;
  --background-color: #F0EDE7;
  --background-secondary-color: #FDFCF6;
}

body {
  font-family: 'Noto Sans', 'Noto Sans Arabic', sans-serif;
  background-color: var(--background-color);
  color: #000;
  margin: auto;
  overflow-x: hidden;
  max-width: 800px;
}

.everything {
  margin-left: auto;
  margin-right: auto;
}

.logo {
  object-fit: contain;
  height: 70px;
  width: 100%;
  margin: 16px 0px;
}

.background {
  position: absolute;
  top: 90px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-secondary-color);
}

.banner {
  .layer {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(calc(50vw - 967px), 120px) rotate(-10deg);
    object-fit: contain;
    width: 1934px;
    height: 450px;
  }

  .title {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 900;
    padding: 6px;
    color: #fff;
    background-color: #000;

    a {
      color: #fff;
    }
  }

  .bookshelf {
    .image {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(calc(50vw)) translate(-300px, 175px) rotate(-10deg);
      object-fit: contain;
      width: 300px;
      height: 342px;
    }

    .title {
      transform: translate(calc(50vw)) translate(-350px, 175px) rotate(-10deg);
    }
  }

  .bikes {
    .image {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(calc(50vw)) translate(50px, 70px) rotate(-10deg);
      object-fit: contain;
      width: 300px;
      height: 466px;
    }

    .title {
      width: 270px;
      transform: translate(calc(50vw)) translate(0px, 104px) rotate(-10deg);
    }
  }

  .description {
    .title {
      transform: translate(calc(50vw)) translate(-150px, 400px) rotate(-10deg);
      width: 270px;
    }
  }
}

/* @media only screen and (max-width: 500px) {
  .banner .bookshelf .title {
    transform: translate(calc(50vw)) translate(-300px, 175px) rotate(-10deg);
  }
} */