:root {
  --primary-color: #3A8456;
  --alternate-color: #1A87AC;
  --background-color: #F0EDE7;
  --background-secondary-color: #FDFCF6;
  --background-dark: #56544E;
}

body {
  font-family: 'Noto Sans', 'Noto Sans Arabic', sans-serif;
  background-color: var(--background-color);
  color: #000;
  margin: auto;
  overflow-x: hidden;
  max-width: 800px;
}

.everything {
  margin-left: auto;
  margin-right: auto;
}

.logo {
  object-fit: contain;
  height: 70px;
  width: 100%;
  margin: 16px 0px;
}

.title {
  display: flex;
  justify-content: center;

  .content {
    text-transform: uppercase;
    font-weight: 900;
    padding: 8px 10px;
    color: #fff;
    background-color: #000;

    a {
      color: #fff;
    }
  }

  .google {
    margin-bottom: 16px;
  }

  .aboutme {
    width: 220px;
    margin-bottom: 16px;
  }

  .shelf {
    transform: translateY(-18px);
  }
}

.bookshelf {
  width: 100%;
  object-fit: contain;
  border: 1px solid var(--background-dark);
}

.title-google {
  display: inline-block;
  margin: 0 auto;
}